.square {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin:  0;
  box-sizing: border-box;
  color: aqua;
  background: dimgrey;
  border: aqua solid 1px;
}
.board-row {
  display: flex;
  justify-content: center;

}
.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.status{
  margin-bottom: 20px;
}